.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background: #9EB3AC;
    padding: 8px;
}

.pokemon-card__error {
    border-radius: 7px;
    border: 1px rgb(254, 202, 202);
    color: rgb(239, 68, 68);
    padding: 15px;
}

.pokemon-card__loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-card:hover,
.pokemon-card:focus {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}