body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
}

* {
  font-family: 'Geist Mono', Verdana, Geneva, Tahoma, sans-serif;
}

input {
  border-radius: .5rem;
  padding: 16px;
  font-size: 16px;
}