.pokemon-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media screen and (min-width: 510) {
    .pokemon-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768) {
    .pokemon-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024) {
    .pokemon-list {
        grid-template-columns: repeat(4, 1fr)
    }
}