.login {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: auto;
}

.login__title {
    text-align: center;
    margin: 0;
}

.login__card {
    border: 1px rgb(234, 234, 236) solid;
    border-radius: 0.5rem;
    max-width: 400px;
    padding: 16px;
    width: 100%;

}

.login__form-group {
    margin-bottom: 1rem;
}

.login__label {
    display: block;
    margin-bottom: 0.5rem;
}

.login__input {
    width: 90%;
}

.login__error {
    color: red;
    margin-top: 0.5rem;
}